@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    One Joe Way<br />
    Joemond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Jsupport@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Jmarketing@example.com</a>
</address>
